{% extends "base.html" %}

{% block lab %} Лабораторная работа 6 {% endblock %}

{% block main %}
<style>
    .href{
        font-size: 20px;
        padding-top: 30px;
    }

    a:link {
        color: rgb(21, 121, 21);
        text-decoration: none;
    }
    a:visited {
        color: rgb(7, 102, 7);
        text-decoration: none;
    }
</style>

    <br><div class="href"><a href="/lab6/articles">К списку заметок</a></div>
    <div>
        <h1>{{ article.title }}</h1>
        {% for paragraph in paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
    </div>
{% endblock %}