{% extends "base.html" %}

{% block lab %} Лабораторная работа 2. Дота-Герои {% endblock %}

{% block main %}
    <h1>5 Героев Доты</h1>
    <ol>
        <li>
            <h2>Pugna</h2>
            <div class="dota_descrip">Умелый колдун Pugna обращает силы противника против него же, подрывая его оборону и укрепления. 
                Пока его тотем бьёт ближайших врагов, осмелившихся использовать магию, сам Pugna вытягивает из них жизнь, чтобы быть 
                готовым к следующему наступлению..</div>
            <img class="dota_pic" src="/static/pugna.jpg">
        </li>
        <li>
            <h2>Chen</h2>
            <div class="dota_descrip">Обратив лесных существ в свою веру, Chen ведёт свою импровизированную армию на помощь команде. 
                Он насылает свою паству на противников, отправляет союзников в безопасное место, а в крайнем случае излечивает их, 
                где бы они ни были.</div>
            <img class="dota_pic" src="/static/chen.png">
        </li>
        <li>
            <h2>Dark-willow</h2>
            <div class="dota_descrip">Неуловимый трепет в тенях — вот всё, что увидит враг Мирески, ведь эта фея избегает врагов и сковывает их движения
                 коварными уловками. Взывая к силам куда более древним, чем знания учёных магов, она держит противников на месте, а затем обрушивает на 
                 них весь гнев и ужас мира фей.</div>
            <img class="dogs_pic" src="/static/dark.png">
        </li>
        <li>
            <h2>Windranger</h2>
            <div class="dota_descrip">Проворная и ловкая Windranger всегда поджидает подходящего момента для нападения. Она постоянно в движении — даже 
                когда расчищает путь смертоносным выстрелом или связывает врагов, чтобы нашпиговать их стрелами.</div>
            <img class="dota_pic" src="/static/wr.jpg">
        </li>
        <li>
            <h2>Enchantress</h2>
            <div class="dota_descrip">Опасная вблизи и смертоносная на расстоянии, Enchantress пронзает врагов атаками, которые становятся тем сильнее, 
                чем больше расстояние до цели. Благодаря способности замедлять своих врагов и зачаровать лесных существ она всегда найдёт способ одержать
                 победу в схватке.</div>
            <img class="dogs_pic" src="/static/ench.jpeg">
        </li>
    </ol>
{% endblock %}