{% extends "base.html" %}

{% block lab %} Лабораторная работа 5 {% endblock %}

{% block main %}

{% for error in errors %}

<div div class="error" style="font-size: 20px;">{{ error }}</div>

{% endfor %}

    <h1>Вход</h1>
    <h2>Пожалуйста, авторизуйтесь</h2>
    <div class="error">{{ error }}</div>

    <form method="post">
        <div>
            <label for="username">Пользователь:</label>
            <input type="text" id="username" name="username" value="{{ username or '' }}">
        </div><br>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" value="{{ password or '' }}">
        </div><br>
        <div>
            <button type="submit">Войти</button>
            <button type="reset">Отмена</button>
        </div>
    </form>
{% endblock %}