{% extends "base.html" %}

{% block lab %} Лабораторная работа 6 {% endblock %}

{% block main %}
<style>
    .href{
        font-size: 20px;
        padding-top: 30px;
    }
    a:link {
        color: rgb(21, 121, 21);
        text-decoration: none;
    }
    a:visited {
        color: rgb(7, 102, 7);
        text-decoration: none;
    }
</style>
    <br><div class="href"><a href="/lab6/">Главная страница</a></div>

{% for error in errors %}

<div class="error" style="font-size: 20px;">{{ error }}</div>

{% endfor %}

<form method="POST">
    
    <h1>Страница регистрации</h1>

    <div>
        <input type="text" name="username_form" placeholder="username">
        <label for="username_form">Логин</label>
    </div><br>

    <div>
        <input type="text" name="password_form" placeholder="password">
        <label for="password_form">Пароль</label>
    </div><br>
    <button type="submit">Зарегистрироваться</button>


    
</form>
{% endblock %}